#mountain {
  bottom: 0px;
  width: 100%;
  position: absolute;
  z-index: 3;
}
#sun {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #f7daa0;
  position: absolute;
  right: 40%;
  bottom: 0%;
  z-index: 2;
  animation-name: anim;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  position: absolute;
  animation-timing-function: linear;
}
#b {
  width: 180px;
  animation-name: anim;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  position: absolute;
  animation-timing-function: linear;
}
@keyframes anim {
  0% {
    bottom: 0%;
  }
  100% {
    bottom: 100%;
  }
}
